.main_layer {
  background-color: #fff;
}
.main_layer > header {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #fff;
  font-size: 0.32rem;
}
.main_layer .inputArea {
  width: 100%;
  height: 2.666667rem;
  overflow: hidden;
}
.main_layer .inputArea .inputBox {
  width: 9.04rem;
  height: 1.0rem;
  margin: 0 auto;
  border: 0.013333rem solid #c9c9c9;
  padding: 0.133333rem;
  margin-top: 0.933333rem;
}
.main_layer .inputArea .inputBox .searIcon {
  width: 0.746667rem;
  height: 0.746667rem;
  display: inline-block;
  background: url('../../../images/securityCheck/searIcon.png');
  background-size: cover;
  float: left;
}
.main_layer .inputArea .inputBox .searInput {
  display: block;
  margin: 0 auto;
  width: 68%;
  height: 0.746667rem;
  padding-left: 0.333333rem;
  font-size: 0.293333rem;
  float: left;
}
.main_layer .inputArea .inputBox .scanIcon {
  width: 0.746667rem;
  height: 0.746667rem;
  display: inline-block;
  background: url('../../../images/securityCheck/saoma.png');
  background-size: cover;
  float: right;
}
.main_layer .inputArea .tipP {
  color: red;
  text-align: center;
  display: none;
}
.main_layer .checkArea {
  padding-top: 0.333333rem;
  padding-left: 3%;
  padding-right: 3%;
}
.main_layer .tipText {
  padding-top: 1.066667rem;
  padding-left: 6%;
  padding-right: 10%;
}
.main_layer .tipText > p {
  padding-left: 5%;
  font-size: 0.32rem;
  margin-bottom: 0.533333rem;
  position: relative;
}
.main_layer .tipText > p > i {
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0.133333rem;
  width: 0.173333rem;
  height: 0.173333rem;
  background-color: #8a8a8a;
}




.main_layer .tipText .box{
  border-top: 0.05rem dashed rgb(221, 221, 221);
  box-sizing: border-box;
  padding: 0.8rem;
}
.main_layer .tipText .box .guide{
  letter-spacing: 0.26rem;
  font-size: 1.2rem;
  text-align: center;
}
.main_layer .tipText .box .title{
  font-size: 0.86rem;
}
.main_layer .tipText .box .item_box{
  width: 100%;
  height: 15rem;
  border: 0.05rem dashed rgb(221, 221, 221);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 0.8rem;
  text-align: center;
}
.main_layer .tipText .box .item_one > div img{
  width: 0.5rem;
  height: 0.7rem;
  vertical-align: -0.09rem;
  margin-right: 0.32rem;
}
.main_layer .tipText .box .item_box span{
  font-size: 0.5rem;
  color: gray;
}
.main_layer .tipText .box .item_one img{
  width: 2.8rem;
  height: 11rem;
  margin-top: 0.6rem;
}
.main_layer .tipText .box .item_three img{
  width: 7rem;
  height: 13rem;
}
.main_layer .tipText .box .item_two{
  color: gray;
}
.main_layer .tipText .box .item_two > div{
  width: 120%;
  font-size: 0.4rem;
  transform: scale(0.8);
  text-align: left;
}
.main_layer .tipText .box .item_box span{
  color: gray;
}
.main_layer .tipText .box .item_two img{
  width: 3rem;
  height: 10rem;
}
.main_layer .tipText .box .pics{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_layer .tipText .box .pics img{

}
.main_layer .tipText .box .pics .imgTop{
  width: 3.5rem;
  height: 3.9rem;
  margin-top: -0.5rem;
}
.main_layer .tipText .box .pics .imgBottom{
  width: 3.5rem;
  height: 8.2rem;
  margin-top: 0.4rem;
}
