.main_layer {
  padding-top: 2.666667rem;
}
.main_layer .container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  padding-top: 0.706667rem;
  padding-bottom: 0.733333rem;
}
.main_layer .container .btnLikeTip {
  width: 3.626667rem;
  height: 0.826667rem;
  line-height: 0.826667rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.413333rem;
  font-size: 0.4rem;
}
.main_layer .container .imgBox {
  width: 3.173333rem;
  height: 2.666667rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0.186667rem;
  margin-left: 37%;
  margin-bottom: 0.72rem;
}
.main_layer .container > p:not(.btnLikeTip) {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 0.32rem;
  color: #626262;
  margin-bottom: 0.133333rem;
}
.main_layer .container.success .btnLikeTip {
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
}
.main_layer .container.success .imgBox {
  background-image: url('../../../images/securityCheck/checkSuccess.png');
}
.main_layer .container.fail .btnLikeTip {
  background-color: #eeeeee;
  color: #8e8e8e;
}
.main_layer .container.fail .imgBox {
  background-image: url('../../../images/securityCheck/checkFail.png');
}
