.main_layer > ul {
  width: 100%;
  padding-bottom: 1.333333rem;
}
.main_layer > ul > li {
  width: 100%;
  margin-bottom: 0.266667rem;
}
.main_layer > ul > li .orderHeader {
  height: 0.866667rem;
  width: 100%;
  padding-left: 0.333333rem;
}
.main_layer > ul > li .orderHeader > p {
  height: 100%;
  width: 100%;
  line-height: 0.866667rem;
  color: #fff;
  font-size: 0.32rem;
}
.main_layer > ul > li .orderHeader > p > span:first-of-type {
  margin-left: 0.533333rem;
}
.main_layer > ul > li .orderHeader > p .pull-right {
  width: 1.253333rem;
  height: 0.493333rem;
  line-height: 0.493333rem;
  color: #00ffff;
  border: 1px solid #00ffff;
  margin-right: 0.4rem;
  border-radius: 2px;
  text-align: center;
  margin-top: 0.173333rem;
}
.main_layer > ul > li .pdtInfo {
  width: 100%;
  background-color: #fff;
  padding-left: 0.333333rem;
  padding-top: 0.266667rem;
  padding-bottom: 0.266667rem;
}
.main_layer > ul > li .pdtInfo .pdtImg {
  height: 2.133333rem;
  width: 2.133333rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.053333rem;
  background-size: cover;
  overflow: hidden;
}
.main_layer > ul > li .pdtInfo .pdtText {
  padding-left: 0.48rem;
  color: #383838;
  font-size: 0.32rem;
  width: 75%;
}
.main_layer > ul > li .pdtInfo .pdtText > p {
  word-break: break-word;
}
.main_layer > ul > li .pdtInfo .pdtText > p:first-child {
  font-size: 0.4rem;
  margin-bottom: 0.533333rem;
}
.main_layer > ul > li .pdtInfo .pdtText > p:last-child {
  margin-top: 0.106667rem;
}
.main_layer > ul > li .sepratorLine {
  width: 100%;
  height: 1px;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #fff;
}
.main_layer > ul > li .sepratorLine > i {
  width: 100%;
  display: block;
  height: 1px;
  background-color: #e7e7e7;
}
.main_layer > ul > li .workerInfo {
  width: 100%;
  background-color: #fff;
  padding-left: 0.333333rem;
  padding-top: 0.266667rem;
  padding-bottom: 0.266667rem;
}
.main_layer > ul > li .workerInfo .pdtImg {
  height: 1.333333rem;
  width: 1.333333rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.053333rem;
  background-size: cover;
  overflow: hidden;
}
.main_layer > ul > li .workerInfo .pdtText {
  padding-left: 0.2rem;
  color: #383838;
  font-size: 0.32rem;
  width: 83%;
}
.main_layer > ul > li .workerInfo .pdtText > p {
  word-break: break-word;
  padding-left: 0.6rem;
  position: relative;
}
.main_layer > ul > li .workerInfo .pdtText > p > img {
  position: absolute;
  top: 0;
  left: 0;
}
.main_layer > ul > li .workerInfo .pdtText > p:first-of-type > img {
  width: 0.32rem;
  height: 0.333333rem;
  top: 0.026667rem;
}
.main_layer > ul > li .workerInfo .pdtText > p:nth-of-type(2) > img {
  width: 0.333333rem;
  height: 0.346667rem;
  top: 0.04rem;
}
.main_layer > ul > li .workerInfo .pdtText > p:last-of-type > img {
  width: 0.293333rem;
  height: 0.373333rem;
  top: 0.04rem;
  left: 0.04rem;
}
.main_layer > ul > li .operation {
  height: 1.04rem;
  width: 100%;
  background-color: #d8d8d8;
  position: relative;
}
.main_layer > ul > li .operation .btnBox {
  height: 100%;
  font-size: 0.346667rem;
  text-align: right;
  line-height: 1.04rem;
  color: #8a8a8a;
  padding-right: 0.36rem;
}
.main_layer > ul > li .operation .btnBox > button {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.346667rem;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  background-color: #fff;
  padding-left: 0.493333rem;
  padding-right: 0.493333rem;
}
.main_layer > ul > li .operation .btnBox > button:not(.cancelOrder) {
  margin-left: 0.333333rem;
}
/*# sourceMappingURL=completedWorkOrder.css.map */