.main_layer {
  background-color: #f4f4f4;
}
.main_layer .topTip {
  height: 0.6133rem;
  line-height: 0.6133rem;
  width: 100%;
  font-size: 0.32rem;
  padding-left: 0.3333rem;
  color: #8a8a8a;
}
.main_layer .bloque {
  background-color: #fff;
  margin-bottom: 0.2667rem;
}
.main_layer .bloque > header {
  height: 1.2rem;
  padding-left: 0.32rem;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
}
.main_layer .bloque > header > img.icon {
  width: 0.4rem;
}
.main_layer .bloque > header > span.title {
  font-size: 0.3467rem;
  color: #999;
  margin-left: 0.1467rem;
}
.main_layer .bloque > .infoBox {
  display: flex;
  flex-direction: column;
  padding: 0.24rem 0.3333rem;
}
.main_layer .bloque > .infoBox .line {
  min-height: 0.72rem;
  display: flex;
  align-items: center;
}
.main_layer .bloque > .infoBox .line > span {
  font-size: 0.3467rem;
}
.main_layer .bloque > .infoBox .line > span .faultImage {
  display: inline-block;
  height: 2.6667rem;
  width: 2.6667rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.2667rem;
}
.main_layer .bloque.orderInfo > .infoBox .product {
  padding-bottom: 0.4rem;
  position: relative;
}
.main_layer .bloque.orderInfo > .infoBox .product:after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;
}
.main_layer .bloque.orderInfo > .infoBox .product .cannotOptBtn {
  height: 0.7067rem;
  line-height: 0.7067rem;
  width: 1.7333rem;
  border: 1px solid #999;
  color: #999;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 1.12rem;
}
.main_layer .bloque.orderInfo > .infoBox .product .line > span:first-child {
  flex: 1;
}
.main_layer .bloque.orderInfo > .infoBox .product .line > span:last-child {
  flex: 5;
}
.main_layer .bloque.orderInfo > .infoBox .product .btnBox {
  display: flex;
  justify-content: space-around;
  margin-top: .4rem;
}
.main_layer .bloque.orderInfo > .infoBox .product .btnBox > button {
  height: 0.7067rem;
  width: 1.7333rem;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  border-radius: 4px;
  background-color: #fff;
}
.main_layer .submitBtn {
  height: 1.3067rem;
  line-height: 1.3067rem;
  text-align: center;
  width: 93.333%;
  margin: 0 auto;
  background-color: #8a8a8a;
  color: #fff;
  font-size: 0.4rem;
}
.refuseOrderAlert {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  top: 0;
  left: 0;
  transition: all .5s linear;
}
.refuseOrderAlert .mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 72%;
  padding-bottom: 0.4rem;
}
.refuseOrderAlert .mainContainer .mcmheader {
  height: 0.666667rem;
  width: 100%;
  background-color: #8a8a8a;
}
.refuseOrderAlert .mainContainer .mcmheader > i {
  float: right;
  height: 100%;
  width: 0.4rem;
  line-height: 0.666667rem;
  font-size: 0.4rem;
  color: #fff;
}
.refuseOrderAlert .mainContainer .mcmbody {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: #d8d8d8;
}
.refuseOrderAlert .mainContainer .mcmbody > p {
  width: 100%;
  font-size: 0.346667rem;
  text-align: left;
  padding-left: 14%;
  color: #383838;
}
.refuseOrderAlert .mainContainer .mcmbody > .tipText {
  font-size: 14px;
  color: #b0b1b5;
}
.refuseOrderAlert .mainContainer .mcmbody > .textAreaBox {
  padding-left: 14%;
  padding-right: 14%;
}
.refuseOrderAlert .mainContainer .mcmbody > .textAreaBox textarea {
  height: 3.18rem;
  width: 100%;
  margin-top: 1px;
  resize: none;
  padding: 0.2rem;
  font-size: 14px;
  border: none;
}
.refuseOrderAlert .mainContainer .mcmbody .btnBox {
  margin-top: 0.266667rem;
  text-align: center;
}
.refuseOrderAlert .mainContainer .mcmbody .btnBox button {
  width: 2.4rem;
  height: 0.8rem;
  border: 1px solid #a0a0a0;
  font-size: 0.346667rem;
}
.refuseOrderAlert .mainContainer .mcmbody .btnBox button.cancel {
  background-color: #eee;
}
.refuseOrderAlert .mainContainer .mcmbody .btnBox button.confirm {
  background-color: #8a8a8a;
  margin-left: 0.36rem;
  color: #fff;
}
/*# sourceMappingURL=unfinishedOrderDetail_repair.css.map */