<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.wechat.persistence.mapper.MallPcUserMapper">
    <select id="getMallPcUserByMobile" resultType="com.ziwow.scrmapp.wechat.persistence.entity.MallPcUser">
		SELECT * FROM t_mall_user u WHERE mobilePhone = #{mobile}
	</select>

    <insert id="saveMallPcUser" parameterType="com.ziwow.scrmapp.wechat.persistence.entity.MallPcUser">
		insert into t_mall_user(mobilePhone,createDate) values(#{mobilePhone},now())
	</insert>
</mapper>