<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.wechat.persistence.mapper.ProductTypeMapper">
    <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.wechat.persistence.entity.ProductType">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="typeName" property="typeName" jdbcType="VARCHAR"/>
        <result column="seriesId" property="seriesId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, typeName, seriesId
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_product_type
        where id = #{id,jdbcType=BIGINT}
    </select>
<!--    <select id="findBySeriesId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_product_type
        where seriesId = #{seriesId,jdbcType=BIGINT}
    </select>-->
    <select id="findBySeriesId" resultType="com.ziwow.scrmapp.wechat.persistence.entity.WechatCity" parameterType="java.lang.Long">
        select
            id cityId, typeName cityName, seriesId provinceId
        from t_product_type
        where seriesId = #{seriesId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_product_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ziwow.scrmapp.wechat.persistence.entity.ProductType">
    insert into t_product_type (id, typeName, seriesId
      )
    values (#{id,jdbcType=BIGINT}, #{typeName,jdbcType=VARCHAR}, #{seriesId,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ziwow.scrmapp.wechat.persistence.entity.ProductType">
        insert into t_product_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeName != null">
                typeName,
            </if>
            <if test="seriesId != null">
                seriesId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                #{seriesId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.wechat.persistence.entity.ProductType">
        update t_product_type
        <set>
            <if test="typeName != null">
                typeName = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="seriesId != null">
                seriesId = #{seriesId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.wechat.persistence.entity.ProductType">
    update t_product_type
    set typeName = #{typeName,jdbcType=VARCHAR},
      seriesId = #{seriesId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>