<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.wechat.persistence.mapper.WechatCityMapper">
    <resultMap id="cityMap" type="com.ziwow.scrmapp.wechat.vo.WechatUserVo">
        <result column="province" property="provinceName"/>
        <result column="city" property="cityName"/>
        <result column="area" property="areaName"/>
    </resultMap>

    <select id="getProvince" resultType="com.ziwow.scrmapp.wechat.persistence.entity.WechatProvince"
            statementType="STATEMENT">
		select provinceid provinceId, province provinceName from t_province;
	</select>

    <select id="getCity" resultType="com.ziwow.scrmapp.wechat.persistence.entity.WechatCity"
            statementType="STATEMENT">
		select provinceid provinceId, city cityName, cityid cityId from t_city where provinceid='${provinceId}' ;
	</select>

    <select id="getArea" resultType="com.ziwow.scrmapp.wechat.persistence.entity.WechatArea"
            statementType="STATEMENT">
		select cityid cityId, area areaName, areaid areaId from t_area where cityid='${cityId}';
	</select>

    <select id="getAllName" resultMap="cityMap">
		select province,city,area from t_province p,t_city c,t_area a where p.provinceid = c.provinceid and c.cityid = a.cityid and a.areaid = #{areaId}
	</select>
</mapper>