.main_layer {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  min-height: 100%;
  background-color: #f4f4f4;
}
.main_layer .reviewTitle {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: left;
  font-size: 0.32rem;
  color: #fff;
  background: #f4f4f4;
  padding-left: 0.333333rem;
  color: #3c3c3c;
}
.main_layer .workerInfoWrap {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 0.266667rem;
}
.main_layer .workerInfoWrap .workerInfo {
  width: 9.333333rem;
  height: 2.32rem;
  margin: 0 auto;
  padding-top: 0.466667rem;
}
.main_layer .workerInfoWrap .workerInfo .personImg {
  width: 1.466667rem;
  height: 1.466667rem;
  border: 1px solid #eee;
  border-radius: 0.066667rem;
  background: url(../../../images/myOrder/workerHead.png);
  background-size: cover;
}
.main_layer .workerInfoWrap .workerInfo .personInfo {
  width: 2.533333rem;
  height: 1.466667rem;
  margin: 0 0.266667rem 0 0.266667rem;
  position: relative;
}
.main_layer .workerInfoWrap .workerInfo .personInfo .name {
  font-weight: bold;
}
.main_layer .workerInfoWrap .workerInfo .personInfo .tel {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main_layer .workerInfoWrap .workerInfo .starLevel {
  width: 4.6rem;
  font-size: 0.266667rem;
  margin-top: -0.213333rem;
}
.main_layer .workerInfoWrap .workerInfo .starLevel > div {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  position: relative;
}
.main_layer .workerInfoWrap .workerInfo .starLevel > div .starBox {
  width: 1.653333rem;
  height: 0.253333rem;
  line-height: 0.4rem;
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translateY(-50%);
  background: url("../../images/icons/greyStars.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_layer .workerInfoWrap .workerInfo .starLevel > div .starBox > p {
  width: 100%;
  height: 100%;
  float: left;
  background: url("../../images/icons/blueStars .png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_layer .workerInfoWrap .workerInfo .starLevel .top > span {
  float: left;
}
.main_layer .reviewOperateWrap {
  width: 100%;
  height: 12.4rem;
  background: #fff;
}
.main_layer .reviewOperateWrap .reviewOperate {
  width: 9.333333rem;
  margin: 0 auto;
}
.main_layer .reviewOperateWrap .reviewOperate > div {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 0 0.133333rem;
}
.main_layer .reviewOperateWrap .reviewOperate > div .up {
  width: 100%;
  height: 1.2rem;
}
.main_layer .reviewOperateWrap .reviewOperate > div .up > span {
  width: 2.133333rem;
  text-align: left;
  height: 1.2rem;
  line-height: 1.2rem;
}
.main_layer .reviewOperateWrap .reviewOperate > div .up .chooseStar {
  height: 1.2rem;
  line-height: 1.2rem;
}
.main_layer .reviewOperateWrap .reviewOperate > div .up .chooseStar > span {
  width: 0.666667rem;
  height: 0.666667rem;
  margin-top: 0.266667rem;
  margin-left: 0.266667rem;
  display: inline-block;
  background: url(../../../src/images/icons/star_gray.png);
  background-size: cover;
}
.main_layer .reviewOperateWrap .reviewOperate > div .up .chooseStar > span.active {
  background: url(../../../src/images/icons/star_blue.png);
  background-size: cover;
}
.main_layer .reviewOperateWrap .reviewOperate > div .down {
  width: 100%;
  line-height: 0.533333rem;
  color: #acacac;
  font-size: 0.24rem;
}
.main_layer .reviewOperateWrap .reviewTxt {
  width: 9.333333rem;
  margin: 0 auto;
  height: 2.533333rem;
  margin-top: 0.4rem;
}
.main_layer .reviewOperateWrap .reviewTxt .textBox {
  width: 7.333333rem;
  height: 2.133333rem;
  padding: 0.133333rem;
  resize: none;
  outline: 0;
  border: 1px solid #eee;
}
.main_layer .reviewOperateWrap .starWrap {
  width: 9.333333rem;
  height: 1.2rem;
  margin: 0 auto;
}
.main_layer .reviewOperateWrap .starWrap .starCon {
  width: 100%;
  height: 1.2rem;
}
.main_layer .reviewOperateWrap .starWrap .starCon > span {
  width: 2.133333rem;
  text-align: left;
  height: 1.2rem;
  line-height: 1.2rem;
}
.main_layer .reviewOperateWrap .starWrap .starCon .chooseStar {
  height: 1.2rem;
  line-height: 1.2rem;
}
.main_layer .reviewOperateWrap .starWrap .starCon .chooseStar > span {
  width: 0.666667rem;
  height: 0.666667rem;
  margin-top: 0.266667rem;
  margin-left: 0.266667rem;
  display: inline-block;
  background: url(../../../src/images/icons/star_gray.png);
  background-size: cover;
}
.main_layer .reviewOperateWrap .starWrap .starCon .chooseStar > span.active {
  background: url(../../../src/images/icons/star_blue.png);
  background-size: cover;
}
.main_layer .reviewFooter {
  position: absolute;
  bottom: 0;
  background: #fff;
}
.main_layer .reviewFooter button {
  width: 9.333333rem;
  height: 1.333333rem ;
  margin: 0.4rem 0.333333rem;
  /* position: absolute;
			bottom: 0.4rem;
			left:0.333333rem; */
}
.main_layer .imgBox {
  width: 1.933333rem;
  height: 1.933333rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.main_layer > p {
  width: 100%;
  text-align: center;
  color: #383838;
  font-size: 0.333333rem;
  margin-top: 0.573333rem;
}
.main_layer > p > i {
  display: inline-block;
  height: 0.346667rem;
  width: 0.346667rem;
  background-size: cover;
  vertical-align: sub;
  margin-right: 0.213333rem;
}
.main_layer .qy-btn-400 {
  display: block;
  margin-top: 0.64rem;
  margin-left: auto;
  margin-right: auto;
}
