.conHeader {
  width: 100%;
  height: 0.666667rem;
  line-height: 0.666667rem;
  color: #d8d8d8;
  font-size: 0.32rem;
  background: #f4f4f4;
  position: fixed;
  top: 0;
  z-index: 99;
}
.conHeader p {
  margin-left: 0.333333rem;
}
.conFooter {
  position: fixed;
  bottom: 0;
  background: #f4f4f4;
}
.conFooter button {
  width: 9.333333rem;
  height: 1.333333rem ;
  margin: 0.4rem 0.333333rem;
}
.main_layer .content {
  width: 100%;
  margin-bottom: 2.0rem;
  overflow-y: auto;
  padding-bottom: 0.5rem;
}
.main_layer .content > ul {
  width: 100%;
  padding-bottom: 1.333333rem;
}
.main_layer .content > ul > li {
  width: 100%;
  margin-bottom: 0.266667rem;
  background-color: #fff;
}
.main_layer .content > ul > li .pdtInfo {
  width: 100%;
  height: 2.8rem;
  background-color: #fff;
  padding: 0.266667rem 0.333333rem;
}
.main_layer .content > ul > li .pdtInfo .pdtImg {
  height: 2.133333rem;
  width: 2.133333rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.053333rem;
  background-size: cover;
  overflow: hidden;
  margin-left: 0.266667rem;
}
.main_layer .content > ul > li .pdtInfo .pdtText {
  padding-left: 0.48rem;
  color: #383838;
  font-size: 0.32rem;
}
.main_layer .content > ul > li .pdtInfo .pdtText > p > span {
  width: 4.266667rem;
  height: 0.4rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_layer .content > ul > li .pdtInfo .pdtText > p:first-child {
  width: 5.866667rem;
  height: 0.533333rem;
  font-size: 0.4rem;
  margin-bottom: 0.533333rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_layer .content > ul > li .pdtInfo .pdtText > p:last-child {
  margin-top: 0.106667rem;
}
.main_layer .reserveCon {
  margin-bottom: 0.266667rem;
}
.main_layer .reserveCon .addInfo {
  width: 9.333333rem;
  margin: 0 auto;
  color: #383838;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.main_layer .reserveCon .mark {
  width: 9.2rem;
  margin-left: 0.266667rem;
  font-size: 0.32rem;
  line-height: 1rem;
  border-bottom: 1px solid #eee;
}
.main_layer .reserveCon .noBorder {
  border-bottom: 0;
}
.main_layer .reserveCon .addProductBtn {
  width: 8.8rem;
  height: 2.666667rem;
  border: 1px dashed  #afafaf;
  background: #eeeeee;
  margin: 0 auto;
}
.main_layer .reserveCon .addProductBtn div {
  line-height: 1.733333rem;
  text-align: center;
  font-size: 1.2rem;
  color: #a0a0a0;
}
.main_layer .reserveCon .addProductBtn .pTxt {
  font-size: 0.32rem;
  text-align: center;
}
.main_layer .reserveCon .addAddressBtn {
  margin-bottom: 0.4rem;
}
.main_layer .reserveCon .reserveTime {
  background: #fff;
  width: 9.333333rem;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
.main_layer .reserveCon .reserveTime .mark {
  width: 8.8rem;
  margin: 0 auto;
  height: 1.066667rem;
}
.main_layer .reserveCon .reserveTime .chooseTime {
  width: 8.8rem;
  height: 1.2rem;
  margin: 0 auto;
  font-size: 0.32rem;
}
.main_layer .reserveCon .reserveTime .chooseTime > span {
  line-height: 1.2rem;
  display: inline-block;
  float: left;
}
.main_layer .reserveCon .reserveTime .chooseTime > div {
  display: inline-block;
  width: 6.933333rem;
  height: 0.8rem;
  border: 1px solid #eee;
  background: url(../../images/icons/calendar.png) no-repeat right top;
  background-size: contain;
  line-height: 0.8rem;
  padding-left: 10px;
  margin-top: 0.2rem;
  float: left;
  color: #b1b1b1;
}
.main_layer .reserveCon .reserveTime .chooseTime > div > input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding-left: 0.133333rem;
}
.main_layer .reserveCon .reserveTime .chooseTime > div .calendarImg {
  position: absolute;
  right: 0.006667rem;
  top: 0.006667rem;
  width: 0.773333rem;
  height: 0.773333rem;
  background: url(../../images/icons/calendar.png);
  background-size: cover;
}
.main_layer .reserveCon .reserveTime .orderTimeTips {
  padding-left: 1.9rem;
  /* line-height: 0.5rem; */
  padding-bottom: 0.2rem;
  color: #e81b00;
}
.main_layer .reserveCon .installDescription {
  width: 9.333333rem;
  margin: 0 auto;
}
.main_layer .reserveCon .installDescription .mark {
  width: 8.8rem;
  margin: 0 auto;
  height: 1.066667rem;
}
.main_layer .reserveCon .installDescription .textareaBox {
  width: 8.8rem;
  margin: 0 auto;
  border: 1px solid #eee;
  padding: 0.066667rem;
}
.main_layer .reserveCon .installDescription .textareaBox textarea {
  line-height: 0.4rem;
  padding: 0.133333rem;
  resize: none;
  outline: 0;
  border: none;
  width: 8.6rem;
}
.main_layer .reserveCon .pdtInfo {
  width: 100%;
  height: 2.8rem;
  background-color: #fff;
  padding: 0.266667rem 0.333333rem;
}
.main_layer .reserveCon .pdtInfo .pdtImg {
  height: 2.133333rem;
  width: 2.133333rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.053333rem;
  background-size: cover;
  overflow: hidden;
}
.main_layer .reserveCon .pdtInfo .pdtText {
  padding-left: 0.48rem;
  color: #383838;
  font-size: 0.32rem;
  width: 6.4rem;
}
.main_layer .reserveCon .pdtInfo .pdtText > p {
  width: 100%;
}
.main_layer .reserveCon .pdtInfo .pdtText > p > span {
  width: 4.266667rem;
  height: 0.4rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_layer .reserveCon .pdtInfo .pdtText > p:first-child {
  width: 5.866667rem;
  height: 0.533333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.4rem;
  margin-bottom: 0.506667rem;
}
.main_layer .reserveCon .pdtInfo .pdtText > p:last-child {
  margin-top: 0.106667rem;
}
.main_layer .reserveCon .userInfo {
  padding: 0.266667rem 0.333333rem;
  width: 9.333333rem;
  height: 2.133333rem;
}
.main_layer .reserveCon .userInfo .userImg {
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: 0.066667rem;
  background: url(../../../images/myOrder/workerHead.png);
  background-size: cover;
}
.main_layer .reserveCon .userInfo .userDetail {
  width: 6.666667rem;
  height: 1.333333rem;
  margin-left: 0.4rem;
}
.main_layer .reserveCon .userInfo .userDetail > div {
  width: 100%;
  height: 0.426667rem;
  line-height: 0.426667rem;
  font-size: 0.293333rem;
}
.main_layer .reserveCon .userInfo .userDetail > div span {
  display: inline-block;
  margin-right: 0.4rem;
}
.main_layer .reserveCon .userInfo .userDetail .info .iconImg {
  width: 0.346667rem;
  height: 0.346667rem;
  background: url(../../../src/images/icons/personInfo.png) top left no-repeat;
  background-size: cover;
}
.main_layer .reserveCon .userInfo .userDetail .telephone .iconImg {
  width: 0.346667rem;
  height: 0.346667rem;
  background: url(../../../src/images/icons/tel.png) top left no-repeat;
  background-size: cover;
}
.main_layer .reserveCon .userInfo .userDetail .position .iconImg {
  width: 0.346667rem;
  height: 0.45rem;
  background: url(../../../src/images/icons/location.png) center center no-repeat;
  background-size: cover;
}
.main_layer .reserveCon .userInfo .userDetail .position .txt {
  margin-top: 0.04rem;
}
.main_layer .reserveCon .uploadImg {
  width: 9.333333rem;
  height: 0.933333rem;
  margin: 0 auto;
  line-height: 0.933333rem;
  margin-top: 0.266667rem;
}
.main_layer .reserveCon .uploadImg span {
  display: inline-block;
}
.main_layer .reserveCon .uploadImg .uploadBtn {
  width: 2.666667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background: #e8e8e8;
  margin-right: 0.133333rem;
  position: relative;
}
.main_layer .reserveCon .uploadImg .uploadBtn input {
  display: inline-block;
  width: 2.666667rem;
  height: 0.8rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main_layer .reserveCon .uploadImg .limit {
  color: red;
}
.main_layer .reserveCon .imgShow {
  width: 9.333333rem;
  margin: 0 auto;
  margin-top: 0.266667rem;
}
.main_layer .reserveCon .imgShow span {
  width: 2.666667rem;
  height: 2.666667rem;
  display: inline-block;
  margin-right: 0.4rem;
  font-size: 0.4rem;
  line-height: 2.666667rem;
  text-align: center;
  border: 1px solid #eee;
}
.main_layer .reserveCon .imgShow span img {
  width: 2.666667rem;
  height: 2.666667rem;
}
.main_layer {
  overflow: hidden;
}
.main_layer .promptImg {
  width: 100%;
  margin-top: 1.533333rem;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.main_layer .promptImg span {
  width: 2.0rem;
  height: 2.0rem;
  background: url(../../../images/reserveService/success.png);
  background-size: cover;
}
.main_layer .successTxt {
  line-height: 1.333333rem;
  text-align: center;
  font-size: 0.32rem;
}
.main_layer .reserveInfoBox {
  width: 100%;
  height: 3.866667rem;
  font-size: 0.32rem;
}
.main_layer .reserveInfoBox .reserveInfo {
  margin: 0 auto;
  width: 8.8rem;
  border-radius: 0.133333rem;
  border: 1px solid #8a8a8a;
  padding: 0.4rem 0.666667rem;
  background: #fff;
  overflow: hidden;
}
.main_layer .reserveInfoBox .reserveInfo p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: .8rem;
}
.main_layer .reserveInfoBox .reserveInfo p .title {
  flex: 1;
}
.main_layer .reserveInfoBox .reserveInfo p .con {
  flex: 2;
}
