<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.FailRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.common.persistence.entity.FailRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="failClass" property="failClass" jdbcType="VARCHAR" />
    <result column="failMethod" property="failMethod" jdbcType="VARCHAR" />
    <result column="parameters" property="parameters" jdbcType="VARCHAR" />
    <result column="isDeal" property="isDeal" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, failClass, failMethod, parameters, isDeal
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_fail_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_fail_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ziwow.scrmapp.common.persistence.entity.FailRecord" >
    insert into t_fail_record (failClass,failMethod,parameters,isDeal)
    values (#{failClass,jdbcType=VARCHAR}, #{failMethod,jdbcType=VARCHAR},
      #{parameters,jdbcType=VARCHAR}, #{isDeal,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.FailRecord" >
    insert into t_fail_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="failClass != null" >
        failClass,
      </if>
      <if test="failMethod != null" >
        failMethod,
      </if>
      <if test="parameters != null" >
        parameters,
      </if>
      <if test="isDeal != null" >
        isDeal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="failClass != null" >
        #{failClass,jdbcType=VARCHAR},
      </if>
      <if test="failMethod != null" >
        #{failMethod,jdbcType=VARCHAR},
      </if>
      <if test="parameters != null" >
        #{parameters,jdbcType=VARCHAR},
      </if>
      <if test="isDeal != null" >
        #{isDeal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.FailRecord" >
    update t_fail_record
    <set >
      <if test="failClass != null" >
        failClass = #{failClass,jdbcType=VARCHAR},
      </if>
      <if test="failMethod != null" >
        failMethod = #{failMethod,jdbcType=VARCHAR},
      </if>
      <if test="parameters != null" >
        parameters = #{parameters,jdbcType=VARCHAR},
      </if>
      <if test="isDeal != null" >
        isDeal = #{isDeal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.common.persistence.entity.FailRecord" >
    update t_fail_record
    set failClass = #{failClass,jdbcType=VARCHAR},
      failMethod = #{failMethod,jdbcType=VARCHAR},
      parameters = #{parameters,jdbcType=VARCHAR},
      isDeal = #{isDeal,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>