<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.FilterChangeRecordMapper">
    <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.common.persistence.entity.FilterChangeRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="productId" property="productId" jdbcType="BIGINT"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="changeItem" property="changeItem" jdbcType="VARCHAR"/>
        <result column="changeCost" property="changeCost" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, productId, orderId, changeItem, changeCost
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_filter_change_record
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_filter_change_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.ziwow.scrmapp.common.persistence.entity.FilterChangeRecord">
    insert into t_filter_change_record (productId, orderId,
      changeItem, changeCost)
    values (#{productId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},
      #{changeItem,jdbcType=VARCHAR}, #{changeCost,jdbcType=DECIMAL})
  </insert>
    <insert id="batchSave" parameterType="java.util.List">
        insert into t_filter_change_record (orderId, productId,
        changeItem, changeCost)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.orderId}, #{item.productId},#{item.changeItem},#{item.changeCost})
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.FilterChangeRecord">
        insert into t_filter_change_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                productId,
            </if>
            <if test="orderId != null">
                orderId,
            </if>
            <if test="changeItem != null">
                changeItem,
            </if>
            <if test="changeCost != null">
                changeCost,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="changeItem != null">
                #{changeItem,jdbcType=VARCHAR},
            </if>
            <if test="changeCost != null">
                #{changeCost,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.ziwow.scrmapp.common.persistence.entity.FilterChangeRecord">
        update t_filter_change_record
        <set>
            <if test="productId != null">
                productId = #{productId,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                orderId = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="changeItem != null">
                changeItem = #{changeItem,jdbcType=VARCHAR},
            </if>
            <if test="changeCost != null">
                changeCost = #{changeCost,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.common.persistence.entity.FilterChangeRecord">
    update t_filter_change_record
    set productId = #{productId,jdbcType=BIGINT},
      orderId = #{orderId,jdbcType=BIGINT},
      changeItem = #{changeItem,jdbcType=VARCHAR},
      changeCost = #{changeCost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>