<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.InstallPartRecordMapper">

    <insert id="save" parameterType="com.ziwow.scrmapp.common.persistence.entity.InstallPartRecord">
        insert into t_install_part_record (orderId,record,cost) values
            (#{orderId,jdbcType=BIGINT}, #{record,jdbcType=VARCHAR},#{cost,jdbcType=DECIMAL})
    </insert>


</mapper>