<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.OrdersProRelationsMapper">
    <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="orderId" property="orderId" jdbcType="BIGINT"/>
        <result column="productId" property="productId" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    	id, orderId, productId,status
	</sql>

    <select id="findByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select * from t_orders_pro_relations where orderId = #{orderId}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO
        t_orders_pro_relations (orderId,productId)
        VALUES
        <foreach collection="list" item="list" index="index" separator=",">
            (#{list.orderId,jdbcType=BIGINT}, #{list.productId,jdbcType=BIGINT})
        </foreach>
    </insert>

    <update id="updateStatus">
        UPDATE
        t_orders_pro_relations
        set
        status = 3,qyhUserId = #{qyhUserId},endTime = now()
        where
        orderId = #{orderId}
        and status = 1
        and productId
        <trim prefix="in (" suffix=")" suffixOverrides=",">
            <foreach collection="productId" item="productId" index="index" separator=",">
                #{productId,jdbcType=BIGINT}
            </foreach>
        </trim>
    </update>

    <update id="cancelProduct" parameterType="com.ziwow.scrmapp.common.bean.pojo.CancelProductParam">
	    update 
	    	t_orders_pro_relations
	    set 
	    	status = 2
	    where orderId = #{orderId,jdbcType=BIGINT}
	    and productId = #{productId,jdbcType=BIGINT}
	  </update>

    <select id="getListByOrderId" resultType="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from
        t_orders_pro_relations
        where
        orderId = #{orderId,jdbcType=BIGINT}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_orders_pro_relations
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
	    delete from t_orders_pro_relations
	    where id = #{id,jdbcType=BIGINT}
	</delete>

    <insert id="insert" parameterType="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations">
	    insert into 
	    	t_orders_pro_relations (id, orderId, productId)
	    values 
	    	(#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT})
	</insert>

    <insert id="insertSelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations">
        insert into t_orders_pro_relations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                orderId,
            </if>
            <if test="productId != null">
                productId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations">
        update t_orders_pro_relations
        <set>
            <if test="orderId != null">
                orderId = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                productId = #{productId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateStatusByOrdersId" parameterType="java.lang.Long">
        update t_orders_pro_relations
        set status = 1
        where orderId = #{orderId,jdbcType=BIGINT} and status = 2
    </update>

    <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.common.persistence.entity.OrdersProRelations">
	    update t_orders_pro_relations
	    set orderId = #{orderId,jdbcType=BIGINT},
	      productId = #{productId,jdbcType=BIGINT}
	    where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>

