<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.WechatOrdersMapper">
    <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.common.persistence.entity.WechatOrders">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ordersCode" property="ordersCode" jdbcType="VARCHAR"/>
        <result column="ordersNo" property="ordersNo" jdbcType="VARCHAR"/>
        <result column="productId" property="productId" jdbcType="BIGINT"/>
        <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
        <result column="contactsMobile" property="contactsMobile" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="orderType" property="orderType" jdbcType="INTEGER"/>
        <result column="maintType" property="maintType" jdbcType="INTEGER"/>
        <result column="buyFilter" property="buyFilter" jdbcType="INTEGER"/>
        <result column="orderTime" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="faultImage" property="faultImage" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="VARCHAR"/>
        <result column="qyhUserId" property="qyhUserId" jdbcType="VARCHAR"/>
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="contactsTelephone" property="contactsTelephone" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapVo" type="com.ziwow.scrmapp.common.bean.vo.WechatOrderVo" extends="BaseResultMap">
        <result column="attitude" property="is_attitude" jdbcType="VARCHAR"/>
        <result column="profession" property="is_specialty" jdbcType="VARCHAR"/>
        <result column="integrity" property="is_integrity" jdbcType="VARCHAR"/>
        <result column="recommend" property="is_recommend" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="orderMap" type="com.ziwow.scrmapp.common.bean.vo.WechatOrdersVo">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="ordersCode" property="ordersCode" jdbcType="VARCHAR"/>
        <result column="orderType" property="orderType" jdbcType="INTEGER"/>
        <result column="orderTypeName" property="orderTypeName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="orderStatus" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="productName" property="productName" jdbcType="VARCHAR"/>
        <result column="productBarCode" property="productBarCode" jdbcType="VARCHAR"/>
        <result column="productImage" property="productImage" jdbcType="VARCHAR"/>
        <result column="modelName" property="modelName" jdbcType="VARCHAR"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="userMobile" property="userMobile" jdbcType="VARCHAR"/>
        <result column="userAddress" property="userAddress" jdbcType="VARCHAR"/>
        <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="orderTime" property="orderTime" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="endTime" property="endTime" jdbcType="VARCHAR"/>
        <result column="maintType" property="maintType" jdbcType="INTEGER"/>
        <result column="buyFilter" property="buyFilter" jdbcType="INTEGER"/>
        <result column="contactsTelephone" property="contactsTelephone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
	    id, ordersCode,ordersNo, productId, contacts, contactsMobile, province, city, area, address, orderType, orderTime, createTime, updateTime, description, faultImage,
	    status, source, userId, qyhUserId, endTime,contactsTelephone
	</sql>
	
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_wechat_orders
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_wechat_orders
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <insert id="insert" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrders" useGeneratedKeys="true"
            keyProperty="id">
	    insert into t_wechat_orders (ordersCode,ordersNo,
	      contacts, contactsMobile, province, city, area, address, orderType,
	      maintType,buyFilter,
	      orderTime,createTime,updateTime,description, faultImage, status,
	      source, userId, qyhUserId, endTime)
	    values (#{ordersCode,jdbcType=VARCHAR},#{ordersNo,jdbcType=VARCHAR}, 
	      #{contacts,jdbcType=VARCHAR}, #{contactsMobile,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
	      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER},
	      #{maintType,jdbcType=INTEGER},#{buyFilter,jdbcType=INTEGER}, 
	      #{orderTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},
	      #{description,jdbcType=VARCHAR}, #{faultImage,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
	      #{source,jdbcType=INTEGER},#{userId,jdbcType=VARCHAR}, #{qyhUserId,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP})
	</insert>
	
    <insert id="insertSelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrders"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_wechat_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ordersCode != null">
                ordersCode,
            </if>
            <if test="ordersNo != null">
                ordersNo,
            </if>
            <if test="productId != null">
                productId,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="contactsMobile != null">
                contactsMobile,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="orderType != null">
                orderType,
            </if>
            <if test="maintType != null">
                maintType,
            </if>
            <if test="buyFilter != null">
                buyFilter,
            </if>
            <if test="orderTime != null">
                orderTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="faultImage != null">
                faultImage,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="qyhUserId != null">
                qyhUserId,
            </if>
            <if test="endTime != null">
                endTime,
            </if>
            <if test="contactsTelephone != null">
                contactsTelephone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ordersCode != null">
                #{ordersCode,jdbcType=VARCHAR},
            </if>
            <if test="ordersNo != null">
                #{ordersNo,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="contactsMobile != null">
                #{contactsMobile,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="maintType != null">
                #{maintType,jdbcType=INTEGER},
            </if>
            <if test="buyFilter != null">
                #{buyFilter,jdbcType=INTEGER},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="faultImage != null">
                #{faultImage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="qyhUserId != null">
                #{qyhUserId,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="contactsTelephone != null">
            	#{contactsTelephone,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrders">
        update t_wechat_orders
        <set>
            <if test="ordersCode != null">
                ordersCode = #{ordersCode,jdbcType=VARCHAR},
            </if>
            <if test="ordersNo != null">
                ordersNo = #{ordersNo,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                productId = #{productId,jdbcType=BIGINT},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="contactsMobile != null">
                contactsMobile = #{contactsMobile,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                orderType = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="maintType != null">
                maintType = #{maintType,jdbcType=INTEGER},
            </if>
            <if test="buyFilter != null">
                buyFilter = #{buyFilter,jdbcType=INTEGER},
            </if>
            <if test="orderTime != null">
                orderTime = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="faultImage != null">
                faultImage = #{faultImage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="qyhUserId != null">
                qyhUserId = #{qyhUserId,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                endTime = #{endTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrders">
    update t_wechat_orders
    set ordersCode = #{ordersCode,jdbcType=VARCHAR},
      ordersNo = #{ordersNo,jdbcType=VARCHAR},
      productId = #{productId,jdbcType=BIGINT},
      contacts = #{contacts,jdbcType=VARCHAR},
      contactsMobile = #{contactsMobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      orderType = #{orderType,jdbcType=INTEGER},
      maintType = #{maintType,jdbcType=INTEGER},
      buyFilter = #{buyFilter,jdbcType=INTEGER},
      orderTime = #{orderTime,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      faultImage = #{faultImage,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      userId = #{userId,jdbcType=VARCHAR},
      qyhUserId = #{qyhUserId,jdbcType=VARCHAR},
      endTime = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="getWechatOrdersVoByCode" parameterType="java.lang.String" resultMap="BaseResultMapVo">
        select o.id,o.ordersCode,o.ordersNo,o.orderType,o.userId,o.qyhUserId,a.attitude,a.profession,a.integrity,a.recommend,o.status
        FROM
        t_wechat_orders o
        left join t_qyh_user_appraisal a
        on o.id = a.orderId
        where o.ordersCode = #{ordersCode}
    </select>


    <select id="getOrdersByUserId" parameterType="java.lang.String" resultMap="orderMap">
        SELECT
            o.id,
            o.ordersCode AS ordersCode,
            o.orderType,
            CASE o.orderType
        WHEN 1 THEN
            '安装单'
        WHEN 2 THEN
            '维修单'
        WHEN 3 THEN
            '保养单'
        END AS orderTypeName,
         concat(
            DATE_FORMAT(o.orderTime,'%Y-%m-%d %H:%00'),'~',
        IF (HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)) > 9,
            HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)),
            concat('0',HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)))),':00') AS orderTime,
         o. STATUS,
         CASE o. STATUS
        WHEN 1 THEN
            '处理中'
        WHEN 2 THEN
            '已取消'
        WHEN 3 THEN
            '重新处理中'
        WHEN 4 THEN
            '已接单'
        WHEN 5 THEN
            '服务完成'
        WHEN 6 THEN
            '评价完成'
        END AS orderStatus,
         o.contacts AS userName,
         o.contactsMobile AS userMobile,
         f.headimgurl AS imageUrl,
         concat(
            o.province,
            o.city,
            o.area,
            o.address
        ) AS userAddress
        FROM
            t_wechat_fans f,
            t_wechat_user u,
            t_wechat_orders o
        WHERE
        f.id = u.wfId
        AND u.userId = o.userId
        and o.userId = #{userId}
        ORDER BY
	    o.id DESC
    </select>

    <select id="getByOrdersCode" parameterType="java.lang.String" resultMap="orderMap">
        SELECT
            o.id AS id,
            o.ordersCode,
            o.orderType,
            CASE o.orderType
        WHEN 1 THEN
            '安装单'
        WHEN 2 THEN
            '维修单'
        WHEN 3 THEN
            '保养单'
        END AS orderTypeName,
         concat(
            DATE_FORMAT(
                o.orderTime,
                '%Y-%m-%d %H:%00'
            ),
            '~',
        IF (
            HOUR (
                ADDDATE(o.orderTime, INTERVAL 2 HOUR)
            ) > 9,
            HOUR (
                ADDDATE(o.orderTime, INTERVAL 2 HOUR)
            ),
            concat(
                '0',
                HOUR (
                    ADDDATE(o.orderTime, INTERVAL 2 HOUR)
                )
            )
        ),
         ':00'
        ) AS orderTime,
         o. STATUS,
         CASE o. STATUS
        WHEN 1 THEN
            '处理中'
        WHEN 2 THEN
            '已取消'
        WHEN 3 THEN
            '重新处理中'
        WHEN 4 THEN
            '已接单'
        WHEN 5 THEN
            '服务完成'
        WHEN 6 THEN
            '评价完成'
        END AS orderStatus,
        o.qyhUserId,
         o.contacts AS userName,
         o.contactsMobile AS userMobile,
         o.description AS description,
         concat(
            o.address
        ) AS userAddress,
         o.faultImage,
         o.maintType,
         o.buyFilter,
         o.contactsTelephone
        FROM
            t_wechat_orders o
        WHERE
        o.ordersCode = #{ordersCode}
    </select>

    <update id="updateStatus">
        update t_wechat_orders set status = #{status,jdbcType=INTEGER}, updateTime = #{updateTime},endTime = #{updateTime}
        WHERE ordersCode = #{ordersCode,jdbcType=VARCHAR}
    </update>

    <update id="updateOrdersTime">
        update t_wechat_orders set orderTime = #{ordersTime},updateTime = #{updateTime}
        where ordersCode = #{ordersCode,jdbcType=VARCHAR} and status in (1,3)
    </update>

    <update id="updateOrdersTimeByEngineer">
        update t_wechat_orders set updateTime = #{updateTime},orderTime = #{ordersTime},changeTimeReason = #{reason}
        where status = 4 and qyhUserId = #{qyhUserId} and ordersCode = #{ordersCode,jdbcType=VARCHAR}
    </update>

    <select id="getParamByOrdersCode" resultType="com.ziwow.scrmapp.common.bean.pojo.WechatOrdersParam"
            parameterType="java.lang.String">
        SELECT
            o.id as ordersId,
            o.orderType,
            o.description,
            o.faultImage,
            o.status,
            o.contacts,
            o.contactsMobile,
            o.province,
            o.city,
            o.area,
            o.address
        FROM
            t_wechat_orders o
        WHERE
            ordersCode = #{ordersCode,jdbcType = VARCHAR}
    </select>

    <select id="getQyhUserVoByOrdersCode" resultType="com.ziwow.scrmapp.common.bean.vo.QyhUserVo"
            parameterType="java.lang.String">
        SELECT
            round(AVG(a.attitude), 2) AS attitude,
            round(AVG(a.profession), 2) AS profession,
            round(AVG(a.integrity), 2) AS integrity,
            u. NAME,
            u.mobile,
            u.position,
            u.avatar AS imageUrl
        FROM
            t_qyh_user u,
            t_wechat_orders o
        LEFT JOIN t_qyh_user_appraisal a ON (
            o.qyhUserId = a.qyhUserId
            AND a.attitude > 0
            AND a.integrity > 0
            AND a.profession > 0
        )
        WHERE
            u.userId = o.qyhUserId
        AND o.ordersCode = #{ordersCode,jdbcType=VARCHAR}
    </select>

    <select id="getWechatOrderMsgVo" resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrderMsgVo">
        SELECT
        fans.wf_nickname nickName,
        fans.openid openId,
        usr.mobilePhone,
        ord.orderType,
        CONCAT(
        DATE_FORMAT(ord.orderTime, '%Y-%m-%d %H'),
        '-',
        IF (
        HOUR (ADDDATE(ord.orderTime, INTERVAL 2 HOUR)) > 9,
        HOUR (ADDDATE(ord.orderTime, INTERVAL 2 HOUR)),
        concat('0', HOUR(ADDDATE(ord.orderTime, INTERVAL 2 HOUR)))
        )
        ) orderTime,
        ord.contacts
        FROM
        t_wechat_orders ord,
        t_wechat_user usr,
        t_wechat_fans fans
        WHERE
        ord.userId = usr.userId
        AND usr.wfId = fans.id
        AND fans.is_cancel = 0
        AND ord.status = 4
        <if test="mobilePhone != null">
            AND usr.mobilePhone != #{mobilePhone}
        </if>
        AND DATE_FORMAT(ord.orderTime, '%Y-%m-%d') = DATE_ADD(curdate(), INTERVAL 1 DAY)
    </select>

    <select id="getOrdersCountByUserId" resultType="com.ziwow.scrmapp.common.bean.vo.QyhUserOrdersVo"
            parameterType="java.lang.String">
        SELECT
        sum(
        IF (orderTime BETWEEN curdate() AND date_add(curdate(), INTERVAL 1 DAY),1,0)
        ) AS today,
        sum(
        IF (orderTime BETWEEN date_add(curdate(), INTERVAL 1 DAY) AND date_add(curdate(), INTERVAL 2 DAY),1,0)
        ) AS tomorrow,
        count(*) AS total
        FROM
        t_wechat_orders
        WHERE
        STATUS = 4
        AND qyhUserId = #{qyhUserId}
    </select>

    <select id="getQyhUserOrdersVo" resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrdersVo">
        SELECT
        o.id,
        o.ordersCode AS ordersCode,
        o.orderType,
        CASE o.orderType
        WHEN 1 THEN
        '安装单'
        WHEN 2 THEN
        '维修单'
        WHEN 3 THEN
        '保养单'
        END AS orderTypeName,
        concat(DATE_FORMAT(o.orderTime,'%Y-%m-%d %H:%00'),'~',IF (HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)) > 9,
        HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)),concat('0',HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)))),':00') AS
        orderTime,
        '处理中' AS orderStatus,
        o.endTime AS endTime,
        o.contacts AS userName,
        o.contactsMobile AS userMobile,
        f.headimgurl AS imageUrl,
        concat(o.province,o.city,o.area,o.address) userAddress
        FROM
        t_wechat_fans f,
        t_wechat_user u,
        t_wechat_orders o
        WHERE
        f.id = u.wfId
        AND u.userId = o.userId
        <if test="condition != null">
            <if test='condition == "today"'>
                AND o.orderTime BETWEEN curdate()
                AND date_add(curdate(), INTERVAL 1 DAY)
            </if>
            <if test='condition eq "tomorrow"'>
                AND o.orderTime BETWEEN date_add(curdate(),interval 1 day)
                AND date_add(curdate(), INTERVAL 2 DAY)
            </if>
        </if>
        AND o. STATUS = 4
        AND o.qyhUserId = #{qyhUserId}
        order by o.orderTime asc
    </select>

    <select id="getFinishedByQyhUserId" parameterType="java.lang.String"
            resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrdersVo">
        SELECT
            o.id,
            o.ordersCode AS ordersCode,
            o.orderType,
            CASE o.orderType
        WHEN 1 THEN
            '安装单'
        WHEN 2 THEN
            '维修单'
        WHEN 3 THEN
            '保养单'
        END AS orderTypeName,
         concat(DATE_FORMAT(o.orderTime,'%Y-%m-%d %H:%00'),'~',
        IF (HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)) > 9,
            HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)),
            concat('0',HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)))),':00') AS orderTime,
         CASE o. STATUS
        WHEN 2 THEN
            '已取消'
        WHEN 5 THEN
            '已完工'
        WHEN 6 THEN
            '已完工'
        END AS orderStatus,
         o.endTime AS endTime,
         o.faultImage,
         o.contacts AS userName,
         o.contactsMobile AS userMobile,
         f.headimgurl AS imageUrl,
         concat(o.province,o.city,o.area,o.address) userAddress
        FROM
            t_wechat_fans f,
            t_wechat_user u,
            t_wechat_orders o
        WHERE
        f.id = u.wfId
        AND u.userId = o.userId
        AND o.`status` IN (2, 5, 6)
        AND o.qyhUserId = #{qyhUserId}
        ORDER BY
        orderTime DESC
    </select>

    <update id="updateOrdersStatus">
        update t_wechat_orders set qyhUserId = NULL,refuseReason = #{reason},updateTime = #{updateTime}
        where qyhUserId = #{qyhUserId} and id = #{ordersId}
    </update>

    <select id="getFinishedOrdersDetail" parameterType="java.lang.String"
            resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrdersVo">
        SELECT
			o.id,o.ordersCode AS ordersCode,o.orderType,o.endTime AS endTime,o.faultImage,o.description,o.contacts AS userName,o.contactsMobile AS userMobile,
			concat( o.province, o.city, o.area, o.address ) AS userAddress,
			CASE o.orderType 
				WHEN 1 THEN '安装单'
				WHEN 2 THEN '维修单'
				WHEN 3 THEN '保养单'
			END AS orderTypeName,
			CASE o. STATUS
				WHEN 2 THEN '已取消'
				WHEN 5 THEN '已完工'
				WHEN 6 THEN '已完工'
			END AS orderStatus,
			concat( DATE_FORMAT( o.orderTime, '%Y-%m-%d %H:%00' ), '~', IF ( HOUR ( ADDDATE(o.orderTime, INTERVAL 2 HOUR) ) > 9, HOUR ( ADDDATE(o.orderTime, INTERVAL 2 HOUR) ), concat( '0', HOUR ( ADDDATE(o.orderTime, INTERVAL 2 HOUR) ) ) ), ':00'
			) AS orderTime,
			ipr.record installPartRedord,
			o.contactsTelephone 
		FROM
			t_wechat_orders o
		LEFT JOIN t_install_part_record ipr ON (o.id = ipr.orderId)
		WHERE o.`status` IN (2, 5, 6)
		AND o.ordersCode =  #{ordersCode}
    </select>

    <select id="getUserOrdersInfo" parameterType="java.lang.String"
            resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrdersVo">
        SELECT
        o.id,
        o.ordersCode AS ordersCode,
        o.orderType,
        concat(DATE_FORMAT(o.orderTime,'%Y-%m-%d %H:%00'),'~',IF (HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)) > 9,
        HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)),concat('0',HOUR (ADDDATE(o.orderTime, INTERVAL 2 HOUR)))),':00') AS orderTime,
        o.endTime AS endTime,
        o.faultImage,
        o.description,
        o.contacts AS userName,
        o.contactsMobile AS userMobile,
        concat(o.province,o.city,o.area,o.address) AS userAddress,
        o.contactsTelephone
        FROM
        t_wechat_orders o
        WHERE
        o.ordersCode = #{ordersCode}
    </select>

    <select id="getWechatOrdersUserInfo" resultType="com.ziwow.scrmapp.common.bean.vo.WechatOrdersUserInfo">
		SELECT
			o.ordersCode,usr.userId,usr.mobilePhone userPhone,usr.userName
		FROM
			t_wechat_user usr,
			t_wechat_orders o
		WHERE
			o.userId = usr.userId
			AND o.ordersCode = #{ordersCode}
	</select>

    <update id="updateQyhUserIdAndStatus">
        update t_wechat_orders set qyhUserId = #{qyhUserId},status = #{status},updateTime = #{updateTime}
        where ordersCode = #{ordersCode}
    </update>

    <select id="getCompleteParamByOrdersCode" resultType="com.ziwow.scrmapp.common.bean.vo.CompleteParam"
            parameterType="java.lang.String">
        SELECT
			o.id AS ordersId,o.ordersCode AS ordersCode,o.orderType,
			o.description,o.qyhUserId,o. STATUS,q.`name` AS getQyhUserName,q.mobile qyhUserPhone,
			o.userId,u.mobilePhone regMobile,o.contacts AS userName,o.contactsMobile AS userMobile,
			DATE_FORMAT(
				o.orderTime,
				"%Y-%m-%d %H:%i:%s"
			) AS orderTime,
			concat(
				o.province,
				o.city,
				o.area,
				o.address
			) AS userAddress
		FROM
			t_qyh_user q,
			t_wechat_orders o,
			t_wechat_user u
		WHERE
			o.qyhUserId = q.userId
		AND u.userId = o.userId
		AND o.ordersCode = #{ordersCode}
    </select>

    <select id="getTomorrowHandleOrder" resultType="com.ziwow.scrmapp.common.bean.vo.QyhUserTomorrowOrderVo">
        SELECT
        T.qyhUserId,
        T.installNum,
        T.repairNum,
        T.maintainNum,
        T.installNum + T.repairNum + T.maintainNum totalNum
        FROM
        (
        SELECT
        A.qyhUserId,
        IFNULL(A.installNum, 0) installNum,
        IFNULL(B.repairNum, 0) repairNum,
        IFNULL(C.maintainNum, 0) maintainNum
        FROM
        (
        SELECT
        COUNT(1) installNum,
        qyhUserId
        FROM
        t_wechat_orders
        WHERE
        orderType = 1
        AND `status` = 4
        AND DATE_FORMAT(orderTime,'%Y-%m-%d') = DATE_ADD(CURDATE(),INTERVAL 1 DAY)
        AND qyhUserId IS NOT NULL
        GROUP BY
        qyhUserId,orderType
        ) A
        LEFT JOIN
        (
        SELECT
        COUNT(1) repairNum,
        qyhUserId
        FROM
        t_wechat_orders
        WHERE
        orderType = 2
        AND `status` = 4
        AND DATE_FORMAT(orderTime,'%Y-%m-%d') = DATE_ADD(CURDATE(),INTERVAL 1 DAY)
        AND qyhUserId IS NOT NULL
        GROUP BY
        qyhUserId,orderType
        ) B ON A.qyhUserId = B.qyhUserId
        LEFT JOIN
        (
        SELECT
        COUNT(1) maintainNum,
        qyhUserId
        FROM
        t_wechat_orders
        WHERE
        orderType = 3
        AND `status` = 4
        AND DATE_FORMAT(orderTime,'%Y-%m-%d') = DATE_ADD(CURDATE(),INTERVAL 1 DAY)
        AND qyhUserId IS NOT NULL
        GROUP BY
        qyhUserId,orderType
        ) C on C.qyhUserId = A.qyhUserId
        ) T
    </select>

    <select id="getAppointmentMsgVo" resultType="com.ziwow.scrmapp.common.bean.vo.AppointmentMsgVo">
        SELECT
        orders.contacts,
        orders.contactsMobile mobilePhone,
        fans.openid openId,
        fans.wf_nickname nickName,
        concat(orders.province,orders.city,orders.area,orders.address) myAddress
        FROM
        t_wechat_orders orders,
        t_wechat_user usr,
        t_wechat_fans fans
        WHERE
        orders.userId = usr.userId
        AND usr.wfId = fans.id
        AND fans.is_cancel = 0
        AND orders.ordersCode = #{ordersCode}
    </select>
    <select id="findBeforeSevenDaysOrders" resultMap="BaseResultMapVo">
        SELECT
        o.id,o.ordersCode,o.ordersNo,o.orderType,o.userId,o.qyhUserId,a.attitude,a.profession,a.integrity,a.recommend
        FROM
        t_wechat_orders o
        join t_qyh_user_appraisal a
        on o.id = a.orderId
        WHERE
        STATUS = 5
        AND endTime &lt;= DATE_ADD(SYSDATE(), INTERVAL - 7 DAY)
    </select>
    <select id="getDispatchOrderNumByDate" resultType="java.lang.Integer">
        select count(1) orderNum from t_wechat_orders where DATE_FORMAT(createTime,'%Y-%m-%d') = #{orderDate};
    </select>

    <update id="updateOrdersNoAndStatus">
        update t_wechat_orders set ordersNo = #{ordersNo},updateTime = #{updateTime},status = #{status},endTime = #{updateTime}
        where ordersCode = #{ordersCode}
    </update>
</mapper>
