<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.common.persistence.mapper.WechatOrdersRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.common.persistence.entity.WechatOrdersRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderId" jdbcType="BIGINT" />
    <result column="recordTime" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="recordContent" property="recordContent" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ordersRecordVo" type="com.ziwow.scrmapp.common.bean.vo.WechatOrdersRecordVo" >
    <result column="recordTime" property="recordTime" jdbcType="VARCHAR" />
    <result column="recordContent" property="recordContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, recordTime, recordContent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_wechat_orders_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByOrdersId" parameterType="java.lang.Long" resultMap="ordersRecordVo">
    select orderId,DATE_FORMAT(recordTime,'%Y-%m-%d %H:%i:%s') as recordTime,recordContent from t_wechat_orders_record where orderId = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_wechat_orders_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrdersRecord" >
    insert into t_wechat_orders_record (id, orderId, recordTime, 
      recordContent)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{recordTime,jdbcType=TIMESTAMP}, 
      #{recordContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrdersRecord" >
    insert into t_wechat_orders_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
      <if test="recordTime != null" >
        recordTime,
      </if>
      <if test="recordContent != null" >
        recordContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordContent != null" >
        #{recordContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrdersRecord" >
    update t_wechat_orders_record
    <set >
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="recordTime != null" >
        recordTime = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordContent != null" >
        recordContent = #{recordContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.common.persistence.entity.WechatOrdersRecord" >
    update t_wechat_orders_record
    set orderId = #{orderId,jdbcType=BIGINT},
      recordTime = #{recordTime,jdbcType=TIMESTAMP},
      recordContent = #{recordContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getProductStatus"  resultType="java.lang.Integer">
    select count(*) from t_orders_pro_relations where orderId = #{orderId} and status != 3
  </select>
</mapper>