@import (reference) "../theme.less";
.weui-grid::before,.weui-grid::after{
    border:0;
}
.weui-grids:after, .weui-grids:before{
    border:0;
}

@media screen and (max-width: 375px){
    html{
        font-size:16px;
    }
}

.main_layer{
    position: relative;
    max-width: 750px;
    margin:0 auto;
    .head_banner{
        width: 100%;
        //background-color: red;
        position:relative;
        .bannerImg{
            display: block;
            width: 90%;
            margin-left: 5%;
            margin-top: 5%;
        }
        .headerImg{
            box-sizing: border-box;
            position:absolute;
            width: 5rem;
            height: 5rem;
            left: 6rem;
            top: 1.5rem;
            border-style: solid;
            border-width: 0.1rem;
            border-color: #fff;
            transform:translateX(-50%);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;     
        }
        .nickName{
          position:absolute;
          left: 10rem;
          top: 1.5rem;
          color: #fff;
          font-size: 1.5rem;
        }
        .bindPhoneText{
          position:absolute;
          left: 10rem;
          top: 4rem;
          color: #fff;
          font-size: 1.2rem;
          text-decoration: underline;
        }
        >p{
            text-align: center;
            font-size: 1.5625rem;
            font-weight:bolder;
            color: #fff;
            width: 100%;
            position:absolute;
            bottom:5px;
            left:50%;
            transform:translateX(-50%);
        }
    }
    .menu_area{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .weui-grid{
            width: 12rem;
            height: 12rem;
            margin-top: 1rem;
            background: #eee;
            border-radius: 10px;
            padding: 0px 0px 0px 0px;
            padding-top: 1rem;
            .weui-grid__icon{
                width: 8rem;
                height: 8rem;
                border-radius:50%;
                border: 0;
                overflow: hidden;
                //padding:0.15625rem;
                //background-color: @mainColor;
            }
            .weui-grid__label{
                font-size: 1.2rem;
                //margin-top: 0.390625rem;
                font-weight: bolder;
                color: #159ddb;
            }
            .shadow{
                width: 100%;
                height: 0.5rem;
                bottom: 0;
                margin-top: 0.4rem;
                background: #159ddb;
                //border-bottom: 20px solid #159ddb;
                border-radius: 0px 0px 0.5rem 0.5rem;
            }
        }
        .weui-grid.onTouch{
            .weui-grid__icon{
                background-color: @mainColor;
            }
        }
    }
}



.btn{
    width: 100px;
    height: 30px;
    background-color:@mainColor;
}
.btn.on{
    background-color:red;
}