.main_layer {
  min-height: 100%;
  background-color: #f4f4f4;
  position: relative;
}
.main_layer .bloque {
  padding: 0 0.4267rem;
  width: 100%;
  font-size: 0.3467rem;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.2667rem;
  background-color: #fff;
}
.main_layer .bloque.noMarginBottom {
  border-bottom: none;
  margin: 0;
}
.main_layer .bloque .statusIcon.complateIcon {
  width: 3.04rem;
  height: 1.8rem;
  background: url('../../images/icons/complate.png');
  background-size: cover;
  position: absolute;
  top: 0.2rem;
  right: 0.333333rem;
}
.main_layer .bloque .statusIcon.cancelIcon {
  width: 1.706667rem;
  height: 1.16rem;
  background: url('../../images/icons/cancel.png');
  background-size: cover;
  position: absolute;
  top: 0.466667rem;
  right: 1.133333rem;
}
.main_layer .bloque .title {
  height: 1.0933rem;
  line-height: 1.0933rem;
  width: 100%;
  color: #9b9b9b;
  border-bottom: 1px solid #e7e7e7;
}
.main_layer .bloque .line {
  display: flex;
  min-height: 0.9067rem;
}
.main_layer .bloque .line > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main_layer .bloque .line .label {
  flex: 1;
}
.main_layer .bloque .line .content {
  flex: 4;
}
.main_layer .bloque .imgLine {
  margin-bottom: 0.2667rem;
}
.main_layer .bloque .imgLine > .image {
  height: 2.64rem;
  width: 2.64rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_layer .bloque .imgLine > .image:not(:last-child) {
  margin-right: 0.4rem;
}
