<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.qyh.persistence.mapper.QyhNoticeReadMapper" >
  <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.qyh.persistence.entity.QyhNoticeRead" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="notice_id" property="noticeId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="INTEGER" />
    <result column="background_img_url" property="backgroundImgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.noticeId != null" >
         and notice_id = #{condition.noticeId,jdbcType=VARCHAR}
      </if>
      <if test="condition.userId != null" >
         and user_id = #{condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="condition.isRead != null" >
         and is_read = #{condition.isRead,jdbcType=INTEGER}
      </if>
      <if test="condition.backgroundImgUrl != null" >
         and background_img_url = #{condition.backgroundImgUrl,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
         and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.updateTime != null" >
         and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.noticeId != null" >
         and notice_id = #{example.condition.noticeId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.userId != null" >
         and user_id = #{example.condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isRead != null" >
         and is_read = #{example.condition.isRead,jdbcType=INTEGER}
      </if>
      <if test="example.condition.backgroundImgUrl != null" >
         and background_img_url = #{example.condition.backgroundImgUrl,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.createTime != null" >
         and create_time = #{example.condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.updateTime != null" >
         and update_time = #{example.condition.updateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, notice_id, user_id, is_read, background_img_url, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziwow.scrmapp.common.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_qyh_notice_read
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_qyh_notice_read
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_qyh_notice_read
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ziwow.scrmapp.common.bean.Criteria" >
    delete from t_qyh_notice_read
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhNoticeRead" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_qyh_notice_read (id, notice_id, user_id, 
      is_read, background_img_url, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{noticeId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{isRead,jdbcType=INTEGER}, #{backgroundImgUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhNoticeRead" >
    insert into t_qyh_notice_read
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="noticeId != null" >
        notice_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="backgroundImgUrl != null" >
        background_img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=BIGINT},
      <if test="noticeId != null" >
        #{noticeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=INTEGER},
      </if>
      <if test="backgroundImgUrl != null" >
        #{backgroundImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ziwow.scrmapp.common.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_qyh_notice_read
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_qyh_notice_read
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.noticeId != null" >
        notice_id = #{record.noticeId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.isRead != null" >
        is_read = #{record.isRead,jdbcType=INTEGER},
      </if>
      <if test="record.backgroundImgUrl != null" >
        background_img_url = #{record.backgroundImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_qyh_notice_read
    set id = #{record.id,jdbcType=BIGINT},
      notice_id = #{record.noticeId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      is_read = #{record.isRead,jdbcType=INTEGER},
      background_img_url = #{record.backgroundImgUrl,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhNoticeRead" >
    update t_qyh_notice_read
    <set >
      <if test="noticeId != null" >
        notice_id = #{noticeId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=INTEGER},
      </if>
      <if test="backgroundImgUrl != null" >
        background_img_url = #{backgroundImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhNoticeRead" >
    update t_qyh_notice_read
    set notice_id = #{noticeId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=INTEGER},
      background_img_url = #{backgroundImgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>