<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziwow.scrmapp.qyh.persistence.mapper.QyhSuiteMapper" >
  <resultMap id="BaseResultMap" type="com.ziwow.scrmapp.qyh.persistence.entity.QyhSuite" >
    <id column="suiteId" property="suiteid" jdbcType="VARCHAR" />
    <result column="suiteName" property="suitename" jdbcType="VARCHAR" />
    <result column="suiteSecret" property="suitesecret" jdbcType="VARCHAR" />
    <result column="suiteTicket" property="suiteticket" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.suiteid != null" >
         and suiteId = #{example.condition.suiteid,jdbcType=VARCHAR}
      </if>
      <if test="condition.suitename != null" >
         and suiteName = #{condition.suitename,jdbcType=VARCHAR}
      </if>
      <if test="condition.suitesecret != null" >
         and suiteSecret = #{condition.suitesecret,jdbcType=VARCHAR}
      </if>
      <if test="condition.suiteticket != null" >
         and suiteTicket = #{condition.suiteticket,jdbcType=VARCHAR}
      </if>
      <if test="condition.createtime != null" >
         and createTime = #{condition.createtime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.suiteid != null" >
         and suiteId = #{example.condition.suiteid,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.suitename != null" >
         and suiteName = #{example.condition.suitename,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.suitesecret != null" >
         and suiteSecret = #{example.condition.suitesecret,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.suiteticket != null" >
         and suiteTicket = #{example.condition.suiteticket,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.createtime != null" >
         and createTime = #{example.condition.createtime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    suiteId, suiteName, suiteSecret, suiteTicket, createTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ziwow.scrmapp.common.bean.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_qyh_suite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_qyh_suite
    where suiteId = #{suiteid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_qyh_suite
    where suiteId = #{suiteid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ziwow.scrmapp.common.bean.Criteria" >
    delete from t_qyh_suite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhSuite" >
    <selectKey resultType="java.lang.String" keyProperty="suiteid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_qyh_suite (suiteId,suiteName, suiteSecret, suiteTicket, 
      createTime)
    values (#{suiteid,jdbcType=VARCHAR},#{suitename,jdbcType=VARCHAR}, #{suitesecret,jdbcType=VARCHAR}, #{suiteticket,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhSuite" >
    <selectKey resultType="java.lang.String" keyProperty="suiteid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_qyh_suite
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suiteid != null" >
        suiteid,
      </if>
      <if test="suitename != null" >
        suiteName,
      </if>
      <if test="suitesecret != null" >
        suiteSecret,
      </if>
      <if test="suiteticket != null" >
        suiteTicket,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    <if test="suiteid != null" >
        #{suiteid,jdbcType=VARCHAR},
      </if>
      <if test="suitename != null" >
        #{suitename,jdbcType=VARCHAR},
      </if>
      <if test="suitesecret != null" >
        #{suitesecret,jdbcType=VARCHAR},
      </if>
      <if test="suiteticket != null" >
        #{suiteticket,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ziwow.scrmapp.common.bean.Criteria" resultType="java.lang.Integer" >
    select count(*) from t_qyh_suite
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_qyh_suite
    <set >
      <if test="record.suiteid != null" >
        suiteId = #{record.suiteid,jdbcType=VARCHAR},
      </if>
      <if test="record.suitename != null" >
        suiteName = #{record.suitename,jdbcType=VARCHAR},
      </if>
      <if test="record.suitesecret != null" >
        suiteSecret = #{record.suitesecret,jdbcType=VARCHAR},
      </if>
      <if test="record.suiteticket != null" >
        suiteTicket = #{record.suiteticket,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_qyh_suite
    set suiteId = #{record.suiteid,jdbcType=VARCHAR},
      suiteName = #{record.suitename,jdbcType=VARCHAR},
      suiteSecret = #{record.suitesecret,jdbcType=VARCHAR},
      suiteTicket = #{record.suiteticket,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhSuite" >
    update t_qyh_suite
    <set >
      <if test="suitename != null" >
        suiteName = #{suitename,jdbcType=VARCHAR},
      </if>
      <if test="suitesecret != null" >
        suiteSecret = #{suitesecret,jdbcType=VARCHAR},
      </if>
      <if test="suiteticket != null" >
        suiteTicket = #{suiteticket,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where suiteId = #{suiteid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ziwow.scrmapp.qyh.persistence.entity.QyhSuite" >
    update t_qyh_suite
    set suiteName = #{suitename,jdbcType=VARCHAR},
      suiteSecret = #{suitesecret,jdbcType=VARCHAR},
      suiteTicket = #{suiteticket,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where suiteId = #{suiteid,jdbcType=VARCHAR}
  </update>
</mapper>