.container {
  background-color: #f4f5f5;
  width: 100%;
  height: 100%;
  padding-top: 2.4rem;
}
.container .main_logo {
  height: 1.626667rem;
  width: 1.626667rem;
  margin: 0 auto 0.866667rem auto;
}
.container .main_logo img {
  display: block;
  height: 100%;
  width: 100%;
}
/* step1 输入框start */
.container .inputArea {
  width: 100%;
  padding: 0 1.533333rem 0 1.533333rem;
}
.container .inputArea section .input-box {
  background-color: #fff;
  width: 100%;
  height: 1.306667rem;
  margin-bottom: 0.266667rem;
  padding-left: 1.0rem;
  padding-right: 2.56rem;
  position: relative;
}
.container .inputArea section .input-box .icon-box {
  width: 0.893333rem;
  height: 0.853333rem;
  position: absolute;
  left: 0;
  top: 0.333333rem;
  border-right: 2px solid #c7dcf1;
  padding: 0.2rem 0.2rem 0 0.266667rem;
}
.container .inputArea section .input-box .icon-box > img {
  display: block;
  height: 0.44rem;
}
.container .inputArea section .input-box .inputDetail {
  height: 0.853333rem;
  width: 100%;
  margin-top: 0.333333rem;
  font-size: 0.346667rem;
  display: inline-block;
}
.container .inputArea section .input-box .inputDetail span {
  line-height: 0.853333rem;
  color: #acacac;
}
.container .inputArea section .input-box .send_code {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.266667rem;
  height: 0.8rem;
  border: 1px solid #afafaf;
  border-radius: 0.106667rem;
  margin: 0.293333rem 0.253333rem 0 0;
  font-size: 0.293333rem;
  color: #6f6f6f;
  background-color: transparent;
}
.container .inputArea section .warn-box {
  height: 0.533333rem;
}
.container .inputArea section .warn-box #warn_text {
  display: none;
  font-size: 0.24rem;
  color: #fff;
  line-height: 0.533333rem;
  padding-left: 0.133333rem;
  width: 100%;
  height: 100%;
  background-color: #ff5e49;
}
.container .inputArea section .choseArea {
  padding-right: 0;
}
.container .inputArea section .choseArea .icon {
  font-size: 0.32rem;
  font-weight: bolder;
  color: #8a8a8a;
  position: absolute;
  right: 0.4rem;
  top: 0.6rem;
}
.container .bigBtn {
  display: block;
  margin: 0 auto;
  margin-top: 0.73333333rem;
}
.container #nextStepBtn {
  margin-top: 0.3rem;
}
/* step1 输入框end */
/* 选择地址 start */
/* 头部 */
.choseAreaBox {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}
.choseAreaBox .backBar {
  height: 40px;
  width: 100%;
  background-color: #8a8a8a;
}
.choseAreaBox .backBar > span {
  display: block;
  width: 10%;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  color: #fff;
}
.choseAreaBox .headerUl {
  height: 50px;
  width: 100%;
  display: flex;
}
.choseAreaBox .headerUl > li {
  line-height: 50px;
  text-align: center;
  flex: 1;
  height: 100%;
  font-size: 16px;
  position: relative;
}
.choseAreaBox .headerUl > li.headerLiActive::after {
  width: 60%;
  height: 1px;
  border-bottom: 2px solid #f23030;
  position: absolute;
  bottom: 1px;
  left: 50%;
  content: '';
  margin-left: -30%;
}
/*地址容器*/
.choseAreaBox {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.choseAreaBox .addressContainer {
  height: 100%;
  width: 300%;
  overflow: hidden;
  display: flex;
  transition: transform .2s linear;
}
.choseAreaBox .addressContainer .wraper {
  height: 100%;
  flex: 1;
  position: relative;
}
.choseAreaBox .addressContainer .wraper > ul {
  width: 100%;
  position: absolute;
}
.choseAreaBox .addressContainer .wraper > ul > li {
  width: 100%;
  padding-left: 10px;
  height: 44px;
  line-height: 44px;
  border-top: 1px solid #e3e5e9;
}
.choseAreaBox .addressContainer .wraper > ul > li.liChosed {
  color: red;
}
/* 选择地址 end */
#step1Box.hideStep {
  display: none;
}
#step2Box.hideStep {
  display: none;
}
.touchStart {
  background-color: red !important;
}
/*loading-Effect*/
.loadEffect {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: none;
}
.loadEffect.on {
  display: block;
}
.loadEffect span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #8a8a8a;
  position: absolute;
  -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.loadEffect span:nth-child(1) {
  left: 0;
  top: 50%;
  margin-top: -8px;
  -webkit-animation-delay: 0.13s;
}
.loadEffect span:nth-child(2) {
  left: 14px;
  top: 14px;
  -webkit-animation-delay: 0.26s;
}
.loadEffect span:nth-child(3) {
  left: 50%;
  top: 0;
  margin-left: -8px;
  -webkit-animation-delay: 0.39s;
}
.loadEffect span:nth-child(4) {
  top: 14px;
  right: 14px;
  -webkit-animation-delay: 0.52s;
}
.loadEffect span:nth-child(5) {
  right: 0;
  top: 50%;
  margin-top: -8px;
  -webkit-animation-delay: 0.65s;
}
.loadEffect span:nth-child(6) {
  right: 14px;
  bottom: 14px;
  -webkit-animation-delay: 0.78s;
}
.loadEffect span:nth-child(7) {
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  -webkit-animation-delay: 0.91s;
}
.loadEffect span:nth-child(8) {
  bottom: 14px;
  left: 14px;
  -webkit-animation-delay: 1.04s;
}
.private_contact {
  text-align: center;
  margin-top: 0.3rem;
  font-size: 0.3rem;
  color: #aaa;
}
