.qy-btn-all {
  position: fixed;
  bottom: 0;
}
.main_layer > ul {
  width: 100%;
  padding-bottom: 1.333333rem;
}
.main_layer > ul > li {
  width: 100%;
  margin-bottom: 0.266667rem;
}
.main_layer > ul > li .pdtInfo {
  width: 100%;
  background-color: #fff;
  padding-left: 0.333333rem;
  padding-top: 0.266667rem;
  padding-bottom: 0.266667rem;
}
.main_layer > ul > li .pdtInfo .pdtImg {
  height: 2.133333rem;
  width: 2.133333rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.053333rem;
  background-size: cover;
  overflow: hidden;
}
.main_layer > ul > li .pdtInfo .pdtText {
  padding-left: 0.48rem;
  color: #383838;
  font-size: 0.32rem;
  width: 75%;
}
.main_layer > ul > li .pdtInfo .pdtText > p {
  word-break: break-word;
}
.main_layer > ul > li .pdtInfo .pdtText > p:first-child {
  font-size: 0.4rem;
  margin-bottom: 0.533333rem;
}
.main_layer > ul > li .pdtInfo .pdtText > p:last-child {
  margin-top: 0.106667rem;
}
.main_layer > ul > li .operation {
  height: 1.493333rem;
  width: 100%;
  background-color: #d8d8d8;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 .4rem;
}
.main_layer > ul > li .operation .deletePdt {
  width: 0.453333rem;
  height: 0.48rem;
  background-size: cover;
  margin-top: 0.5rem;
}
.main_layer > ul > li .operation .btnBox {
  height: 100%;
  padding-top: 0.346667rem;
  display: flex;
}

.main_layer > ul > li .operation .btnBox  > button .ewPdt_one{
  height: 0.466rem;
  width: 0.466rem;
  margin: 0.137rem 0.1667rem 0 0;
  background-size: 100% 100%;
}
.main_layer > ul > li .operation .btnBox > button {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.346667rem;
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  background-color: #fff;
  padding: 0 0.293333rem;
}
.main_layer > ul > li .operation .btnBox > .ew_btn {
  display: flex;
}
.main_layer > ul > li .operation .btnBox > button:last-child {
  margin-left: 0.333333rem;
}
.main_layer {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  height: 100%;
  background-color: #f4f4f4;
}
.main_layer .imgBox {
  width: 1.933333rem;
  height: 1.933333rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.main_layer > p {
  width: 100%;
  text-align: center;
  color: #383838;
  font-size: 0.333333rem;
  margin-top: 0.573333rem;
}
.main_layer .qy-btn-400 {
  display: block;
  margin-top: 0.64rem;
  margin-left: auto;
  margin-right: auto;
}
.loadingBox {
  padding-top: 40%;
}
