@mainColor:#8a8a8a; //主色调 替换原来 #008cdb,再一次替换#666
@mainColor_2:#8a8a8a; //主色调 替换原来 #1e95d7,再一次替换#666666
@backColor:#d8d8d8; //背景 替换原来 #f0faff,再一次替换#d8d8d8
@tipFontColor:#d8d8d8; //替换原来#008dd8,再一次替换#666
@messageFontColor:#333333; //替换原来#4da4db,再一次替换#333
//标题/按钮字体
.font_title_1(){
    font-size: 32/75px;
    color:#1a1a1a
}
//标题/按钮字体
.font_title_2(){
    font-size: 30/75px;
    color:@messageFontColor
}
//信息文字
.font_message(){
    font-size: 28/75px;
    color:@messageFontColor
}
//提示输入文字/辅助文字
.font_tip(){
    font-size: 26/75px;
    color:@tipFontColor
}
//正文/数据信息
.font_main(){
    font-size: 24/75px;
    color:#999999
}

