.main_layer .scanArea {
  height: 3rem;
  width: 100%;
  background-color: #fff;
  padding-top: 0.853333rem;
  padding-left: 0.333333rem;
  padding-right: 0.586667rem;
}
.main_layer .scanArea > label {
  font-size: 0.346667rem;
  color: #393939;
  position: relative;
}
.main_layer .scanArea > label .qy-input-360 {
  font-size: 0.333333rem;
  margin-left: 0.48rem;
  padding-left: 0.2rem;
}
.main_layer .scanArea > label > a {
  position: absolute;
  font-size: 0.333333rem;
  right: 0;
  color: #333333;
  bottom: -0.8rem;
  text-decoration: underline;
}
.main_layer .scanArea .scanQrCode {
  width: 1.626667rem;
  height: 1.626667rem;
  background-size: cover;
  margin-top: -0.28rem;
  position: relative;
}
.main_layer .scanArea .scanQrCode > p {
  width: 100%;
  position: absolute;
  bottom: -0.506667rem;
  font-size: 0.3467rem;
  color: #333333;
  text-align: center;
  font-weight: 900;
}
.main_layer .nextStep {
  margin-top: 0.586667rem;
}
.main_layer .haventFindQrCode {
  width: 100%;
  height: 1.333333rem;
  text-align: center;
  line-height: 1.333333rem;
  background-color: #ffffff;
  color: #333333;
  font-size: 0.373333rem;
  margin-top: 0.666667rem;
}
